.header-section{
  margin: 0px; 
  padding: 10px;
  background-color: #f5f0ea;
}

.navigation{
  overflow: hidden; 
  background-color: #f5f0ea;
}

.navigation a{
  color: #2D2828;
  text-decoration: none; 
}

.navigation a:hover{
  background-color: gray; 
}

.navigation-list{
  margin: 5px;
  padding: 10px; 
  border: 20px; 
  display: flex; 
  flex-basis: auto;
  gap: 40px; 
  list-style-type: none;
  justify-content: center; 
}


.hero-section{
  display: flex; 
  min-height: 400px; 
  border: 2px, solid gray; 
}

.hero-left, .hero-right{
  flex: 1; 
  padding: 20px; 
  border: 2px, solid gray; 

}
.hero-left{
  background-color: black; 
  color: #f5f0ea; 
}

.hero-right{
  background-color: white; 
}

.hero-right img{
  max-width: 80%;
  height: auto; 

}
